{% extends "base.html" %}

{% block content %}
<h2>{{ build.name }}</h2>
<div class="build-grid">
    {% for item in items %}
        <div class="build-card">

            {% if item.product.image %}
                <img
                    src="{{ item.product.image.url }}"
                    alt="{{ item.product.name }}"
                    class="build-image"
                >
            {% endif %}

            <h3>{{ item.product.name }}</h3>

            <p>
                <strong>Category:</strong>
                {{ item.product.category }}
            </p>

            <p class="price">
                ₹{{ item.product.price }}
            </p>
            <a
                href="{% url 'remove_build_item' item.id %}"
                class="remove-btn">
                Remove
            </a>
        </div>
    {% endfor %}
</div>
<div class="build-summary">

    <h2>Total Build Price</h2>

    <div class="build-total">
        ₹{{ total_price }}
    </div>

</div>

{% if not items %}
    <p>No components added yet.</p>
{% endif %}

{% endblock %}