{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h2>Build Your Dream PC</h2>

    <p>
        Explore high-performance CPUs, GPUs, RAM, motherboards,
        and more to create the perfect setup.
    </p>

    <a href="/products/" class="browse-btn">
        Browse Components
    </a>

</div>

<h2>Featured Categories</h2>

<div class="category-grid">

    <a href="/products/category/cpu/" class="category-card">
        <h3>CPU</h3>
    </a>

    <a href="/products/category/gpu/" class="category-card">
        <h3>GPU</h3>
    </a>

    <a href="/products/category/ram/" class="category-card">
        <h3>RAM</h3>
    </a>

    <a href="/products/category/motherboard/" class="category-card">
        <h3>Motherboard</h3>
    </a>

</div>

<h2>Featured Products</h2>

<div class="product-grid">

    {% for product in featured_products %}

    <a href="/products/{{ product.id }}/" class="product-link">

        <div class="product-card">

            {% if product.image %}
                <div class="image-container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                </div>
            {% endif %}

            <h3>{{ product.name }}</h3>

            <p>{{ product.brand }}</p>

            <p class="price">
                ₹{{ product.price }}
            </p>

        </div>

    </a>

    {% endfor %}

</div>

{% endblock %}