{% extends "base.html" %}

{% block content %}


<h2>PC Components</h2>
<form method="get" class="search-form">
    <input
        type="text"
        name="q"
        placeholder="Search products..."
        value="{{ query }}"
    >
    <button type="submit">Search</button>
</form>
<form method="get" class="sort-form">

    <input
        type="hidden"
        name="q"
        value="{{ query }}"
    >

    <select name="sort" onchange="this.form.submit()">

        <option value="">Sort By</option>

        <option value="price_low"
            {% if sort == "price_low" %}selected{% endif %}>
            Price: Low to High
        </option>

        <option value="price_high"
            {% if sort == "price_high" %}selected{% endif %}>
            Price: High to Low
        </option>

        <option value="name_asc"
            {% if sort == "name_asc" %}selected{% endif %}>
            Name: A to Z
        </option>

        <option value="name_desc"
            {% if sort == "name_desc" %}selected{% endif %}>
            Name: Z to A
        </option>

    </select>

</form>
<div class="categories">
    <a href="/products/">All</a>
    <a href="/products/category/cpu/">CPU</a>
    <a href="/products/category/gpu/">GPU</a>
    <a href="/products/category/motherboard/">Motherboard</a>
    <a href="/products/category/ram/">RAM</a>
    <a href="/products/category/storage/">Storage</a>
    <a href="/products/category/monitor/">Monitor</a>
    <a href="/products/category/keyboard/">Keyboard</a>
    <a href="/products/category/mouse/">Mouse</a>
</div>
<h3>Filter by Brand</h3>

<div class="brand-filter">

    <a href="/products/">All Brands</a>

    {% for brand in brands %}
        <a href="?brand={{ brand.id }}">
            {{ brand.name }}
        </a>
    {% endfor %}

</div>
<div class="product-grid">
    {% for product in products %}
        <div class="product-card">
           {% if product.image %}
                <div class="image-container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                </div>
            {% endif %}
            <h3>{{ product.name }}</h3>

            <p><strong>Brand:</strong> {{ product.brand.name }}</p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p class="price">₹{{ product.price }}</p>

            <p>{{ product.description|truncatewords:15 }}</p>

            <a href="/products/{{ product.id }}/" class="view-btn">
                View Details
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}