{% extends "base.html" %}

{% block content %}


<h2>PC Components</h2>

<div class="controls-panel">

    <div class="filter-bar">

        <form method="get" class="search-form">
            <input
                type="text"
                name="q"
                placeholder="Search products..."
                value="{{ query }}"
            >
            <button type="submit">Search</button>
        </form>

        <form method="get" class="sort-form">

            <input
                type="hidden"
                name="q"
                value="{{ query }}"
            >

            <select name="sort" onchange="this.form.submit()">
                <option value="">Sort By</option>

                <option value="price_low"
                    {% if sort == "price_low" %}selected{% endif %}>
                    Price: Low to High
                </option>

                <option value="price_high"
                    {% if sort == "price_high" %}selected{% endif %}>
                    Price: High to Low
                </option>

                <option value="name_asc"
                    {% if sort == "name_asc" %}selected{% endif %}>
                    Name: A to Z
                </option>

                <option value="name_desc"
                    {% if sort == "name_desc" %}selected{% endif %}>
                    Name: Z to A
                </option>
            </select>

        </form>

    </div>

    <div class="categories">
        <a href="/products/">All</a>
        <a href="/products/category/cpu/">CPU</a>
        <a href="/products/category/gpu/">GPU</a>
        <a href="/products/category/motherboard/">Motherboard</a>
        <a href="/products/category/ram/">RAM</a>
        <a href="/products/category/storage/">Storage</a>
        <a href="/products/category/monitor/">Monitor</a>
        <a href="/products/category/keyboard/">Keyboard</a>
        <a href="/products/category/mouse/">Mouse</a>
    </div>

</div>
<div class="sidebar-filter">
    <details>
        <summary>Brands</summary>

        <form method="get">
            {% for brand in brands %}
                <label class="brand-checkbox">
                    <input
                        type="radio"
                        name="brand"
                        value="{{ brand.id }}"
                        onchange="this.form.submit()"
                    >
                    {{ brand.name }}
                </label>
            {% endfor %}
        </form>

    </details>
</div>
<div class="product-grid">
    {% for product in products %}
        <div class="product-card">
           {% if product.image %}
                <div class="image-container">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                </div>
            {% endif %}
            <h3>{{ product.name }}</h3>

            <p><strong>Brand:</strong> {{ product.brand.name }}</p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p class="price">₹{{ product.price }}</p>

            <p>{{ product.description|truncatewords:15 }}</p>

            <div class="product-actions">
                <a href="/products/{{ product.id }}/" class="view-btn">
                    View Details
                </a>

                <a href="{% url 'add_to_build' product.id %}?build={{ build.id }}" class="build-btn">
                    Add to Build
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">

    {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">‹</a>
    {% endif %}

    {% if products.number > 3 %}
        <a href="?page=1">1</a>

        {% if products.number > 4 %}
            <span>...</span>
        {% endif %}
    {% endif %}

    {% for num in products.paginator.page_range %}

        {% if num >= products.number|add:"-1" and num <= products.number|add:"1" %}

            {% if products.number == num %}
                <span class="current-page">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endif %}

    {% endfor %}

    {% if products.number < products.paginator.num_pages|add:"-2" %}

        {% if products.number < products.paginator.num_pages|add:"-3" %}
            <span>...</span>
        {% endif %}

        <a href="?page={{ products.paginator.num_pages }}">
            {{ products.paginator.num_pages }}
        </a>

    {% endif %}

    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">›</a>
    {% endif %}

</div>
{% endblock %}